:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 860px;
    --header-height: 60px;
    --footer-height: 84px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(232, 232, 232);
    --code-bg: rgb(245, 245, 245);
    --bg: rgb(245, 245, 245);
    --border: rgb(225, 225, 225);
    --shadow: rgba(0, 0, 0, 0.27);
    --shadow1: rgba(0, 0, 0, 0.5);
    --border-hover: linear-gradient(135deg, rgb(240, 240, 240), rgb(220, 220, 220));
    --border-hover-rev: linear-gradient(135deg, hsl(240, 5%, 15%), hsl(240, 5%, 25%));

    /* Chroma Code Highlighting */
    --chroma-fg: #4d4d4d;
    --chroma-bg: #ffffff;
    --chroma-hl: #ffe5a0;
    --chroma-lineno: #1f1f1f;
    --chroma-keyword: #2c5dcd;
    --chroma-variable: #e06c75;
    --chroma-constant: #318495;
    --chroma-function: #ff8000;
    --chroma-string: #389966;
    --chroma-comment: #505050;
    --chroma-number: #5918bb;
    --chroma-operator: #2c5dcd;
}

.dark {
    --theme: rgb(24, 25, 27);
    --entry: rgb(41, 41, 46);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: hsl(240, 5%, 20%);
    --code-bg: rgb(55, 56, 62);
    --bg: rgb(24, 25, 27);
    --border: rgb(51, 51, 51);
    --shadow: rgba(255, 255, 255, 0.2);
    --shadow1: rgba(255, 255, 255, 0.5);
    --border-hover: linear-gradient(135deg, hsl(240, 5%, 15%), hsl(240, 5%, 25%));
    --border-hover-rev: linear-gradient(135deg, rgb(240, 240, 240), rgb(220, 220, 220));

    /* Chroma Code Highlighting */
    --chroma-fg: #abb2bf;
    --chroma-bg: #282c34;
    --chroma-hl: #005443;
    --chroma-lineno: #c4c4c5;
    --chroma-keyword: #c678dd;
    --chroma-variable: #e06c75;
    --chroma-constant: #e5c07b;
    --chroma-function: #61afef;
    --chroma-string: #98c379;
    --chroma-comment: #7f848e;
    --chroma-number: #d19a66;
    --chroma-operator: #56b6c2;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}

::selection {
    background: #808080;
}

::-moz-selection {
    background: #808080;
}

::-webkit-selection {
    background: #808080;
}

/*@font-face {
    font-family: 'Inter Display';
    font-style: normal;
    font-weight: 400;
    src: url('/webfonts/Inter-Display.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter Display';
    font-style: normal;
    font-weight: 500;
    src: url('/webfonts/Inter-DisplayMedium.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter Display';
    font-style: normal;
    font-weight: 700;
    src: url('/webfonts/Inter-DisplayBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter Display';
    font-style: italic;
    font-weight: 400;
    src: url('/webfonts/Inter-DisplayItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter Display';
    font-style: italic;
    font-weight: 500;
    src: url('/webfonts/Inter-DisplayMediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter Display';
    font-style: italic;
    font-weight: 700;
    src: url('/webfonts/Inter-DisplayBoldItalic.woff2') format('woff2');
}*/

@font-face {
    font-family: 'GitLab Sans';
    font-weight: 100 900;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('/webfonts/GitLabSans.woff2') format("woff2")
}

@font-face {
    font-family: 'GitLab Sans';
    font-weight: 100 900;
    font-style: italic;
    font-named-instance: 'Regular';
    src: url('/webfonts/GitLabSans-Italic.woff2') format("woff2")
}

@font-face {
    font-family: 'MiSans';
    font-style: normal;
    font-weight: 400;
    src: url('/webfonts/MiSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'MiSans';
    font-style: normal;
    font-weight: 700;
    src: url('/webfonts/MiSans-Demibold.woff2') format('woff2');
}

@font-face {
    font-family: 'iAWritingMonoS';
    font-style: normal;
    font-weight: normal;
    src: url('/webfonts/iAWriterMonoS-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'iAWritingMonoS';
    font-style: italic;
    font-weight: normal;
    src: url('/webfonts/iAWriterMonoS-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'iAWritingMonoS';
    font-style: normal;
    font-weight: bold;
    src: url('/webfonts/iAWriterMonoS-Bold.woff2') format('woff2');
}
