<link rel="stylesheet" href="/scripts/katex.min.css" crossorigin="anonymous">

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="/scripts/katex.min.js" crossorigin="anonymous"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="/scripts/auto-render.min.js" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>

<script src="/scripts/pangu.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [{
                left: "$$",
                right: "$$",
                display: true
            }, {
                left: "$",
                right: "$",
                display: false
            }]
        });
        pangu.autoSpacingPage();
    });
</script>