#searchbox input {
    padding: 4px 10px;
    width: 100%;
    color: var(--primary);
    font-weight: 500;
    border: 2px solid var(--tertiary);
    border-radius: var(--radius);
    margin-bottom: 20px;
    transition: all 0.2s;
}

#searchbox input:focus {
    border-color: var(--secondary);
    background: var(--border-hover);
}

#searchResults li {
    list-style: none;
    border-radius: var(--radius);
    padding: 5px 12px;
    margin: 12px 0;
    position: relative;
    font-weight: 500;
}

#searchResults {
    margin: 10px 0;
    width: 100%;
}

#searchResults li:active {
    transition: transform 0.1s;
    transform: scale(0.98);
}

#searchResults a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    outline: none;
}

#searchResults .focus,
#searchResults .post-entry:hover {
    transform: scale(1.02);
    border: 4px solid #6a6a6a;
}

#searchResults .post-entry:after {
    border-radius: 6px;
    opacity: 1;
}

#searchResults .entry-header {
    display: flex;
    justify-content: space-between;
}

#searchResults .entry-header span {
    font-weight: 700;
}