.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 500;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    border-radius: 6px;
    border: 2px solid var(--tertiary);
    transition: all 0.2s;
    font-size: 21px;
}

.terms-tags li a:hover {
    background: var(--border-hover);
    border: 2px solid var(--secondary);
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}